<div class="index-container">
  <img src="images/beer.png" />
</div>

<button type="button" class="btn btn-primary">Check the Beer!</button>

<button type="button" class="btn btn-primary">Check a Random Beer!</button>
